@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.react-calendar {
  width: 100% !important;
}

.react-calendar__tile--active {
  background-color: #fbbc13 !important;
}

.react-calendar__tile--active:enabled:hover {
  background-color: #478ef0 !important;
}

.calender-body {
  background-color: #02b3ff !important;
}
